body {
	margin: 0;
	padding: 0;
}

#map {
    height: 60vh; /* Adjust height dynamically based on viewport */
    width: 100%;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .leaflet-tooltip.state-label {
        font-size: 10px; /* Reduce font size for better display */
    }
}

.leaflet-interactive:focus {
    outline: none !important;
}

.leaflet-tooltip.state-label {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: black !important; /* Adjust text color if needed */
    font-weight: bold;
}
