body {
	margin: 0;
	padding: 0;
}

#map {
	height: 450px;
}

.leaflet-interactive:focus {
    outline: none !important;
}

.state-label {
    font-size: 10px;
    font-weight: bold;
    color: black;
    background: rgba(255, 255, 255, 0.7);
    padding: 1px 3px;
    border-radius: 3px;
    text-align: center;
}

.leaflet-tooltip.state-label {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: black !important; /* Adjust text color if needed */
    font-weight: bold;
}
